@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8; /* Light background color */
    color: #333; /* Dark text color */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #00a9e0; /* Blue color from the logo */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input[type="submit"] {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #00a9e0; /* Blue color from the logo */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #007bb5; /* Darker blue for hover effect */
}

form input[type="submit"]:active {
    transform: scale(0.96);
}

p {
    margin-bottom: 1rem;
}


nav {
    background-color: #ffffff; /* White background */
    padding: 5px 20px; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    text-align: center;
}

.home-content h3 {
    margin: 10px 0;
    text-wrap: balance;
    font-size: 60px;
    font-weight: 1000;
    line-height: 1.2;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-content p {
    font-size: 20px;
    font-weight: 400;
    text-wrap: balance;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

nav icon {
    position: fixed;
    height: auto;
    left: 0px;
    max-width: 100%;
    width: 150px;

}

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .home-content h3{
        display: flex;
    }
    .home-content p {
        display: flex;
    }

}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}