body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#settle-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke; /* Light blue background */
}

form {
    background-color: #ffffff; /* White background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 1px solid #b3e5fc; /* Light blue border */
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #0277bd; /* Darker blue for the heading */
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0288d1; /* Slightly lighter blue for labels */
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b3e5fc; /* Light blue border for input fields */
    border-radius: 4px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #03a9f4; /* Medium blue */
}

button[type="button"] {
    background-color: #0288d1; /* Slightly darker blue */
}

button:hover {
    opacity: 0.8;
}
