<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Log</title>
</head>
<body>
    <h1>Activity Log</h1>
    <ul>
        {% for activity in activities %}
            <li class="activity-item">
                <span class="activity-description"> {{ activity.activity }}</span><br>
                <span class="activity-time"> {{ activity.activity_time }}</span>
            </li>
        {% endfor %}
    </ul>
    
    <div>
        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('groups') }}">Create Group</a>
        <a href="{{ url_for('code') }}">Join a Group</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('base') }}">Logout</a>
        
        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('history') }}">History</a>
        <a href="{{ url_for('active_groups') }}">Statistics</a>
        <a href="{{ url_for('activity') }}">Activity</a>
    </div>
</body>
</html>