<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
    </head>
    <body>
        <h1>Please scan the qr code</h1>

        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('groups_expenses') }}">View Groups and Expenses</a>
        <a href="{{ url_for('code') }}">Join a Group</a>
        <a href="{{ url_for('groups') }}">Create Group</a>
        <a href="{{ url_for('profile') }}">Profile</a>

    </body>
</html>