<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="icon" type="image/png" href="/static/images/favicon_optimized.png">
</head>

<body>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="{{ url_for('base') }}">Login</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
            <li><a href="{{ url_for('Aboutus') }}">About us</a></li>
        </ul>

        

        <ul>
            <li><a href="/">Home</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('base') }}">Login</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('sign_up') }}">Sign up</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('Aboutus') }}">About us</a></li>
            <li class="menu-button"onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>

<section class="home">
    <div class="home-content">
        <h3>Less stress when sharing expenses with anyone.</h3>
        <br>
        <p> Keep track of your shared expenses and
              balances with housemates, trips, groups,
              friends, and family. </p>
    </div>
</section>




    <script src="/static/js/homepage.js"></script>
</body>
</html>