<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SplitShare</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="icon" type="image/png" href="/static/images/favicon40.png">
    
</head>

<body>

<div class="bgv">
    <video autoplay loop muted plays-inline>
        <source src="/static/images/bvg3.mp4" type="video/mp4">
    </video>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="{{ url_for('base') }}">Login</a></li>
            
        </ul>

        <a  href="{{ url_for('homepage') }}">
            <img src="/static/images/favicon_30.png" alt="logo" class="logow">

        </a>
            
        

        <ul>
            <li></li>
            <li class="action_btn"><a href="{{ url_for('base') }}">Log in</a></li>
            
            <li class="menu-button"onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>

<section class="home">
    <div class="home-content">
        <h3>Less stress when sharing expenses with anyone.</h3>
        <br>
        <p> Keep track of your shared expenses and
              balances with housemates, trips, groups,
              friends, and family. </p>
    </div>
</section>

<footer class="foot">

    <ul class="social_icon">
        <li>
            <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"> <ion-icon name="logo-facebook"></ion-icon></a>
        </li>

        <li>
            <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
        </li>

        <li>
            <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </li>

        <li>
            <a href="https://isucauayan.edu.ph/" target="_blank"><ion-icon name="link-outline"></ion-icon></ion-icon></a>
        </li>

        <li>
            <a href="https://www.instagram.com/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        </li>
    </ul>

    <ul class="menu">
        
        <li>
            <a href="{{ url_for('homepage') }}">Home</a>
        </li>

        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>

        <li>
            <a href="">Service</a>
        </li>

        <li>
            <a href="">Team</a>
        </li>

        <li>
            <a href="">Contact</a>
        </li>
    </ul>

    <p>2024 SplitShare Project | All rights reserve</p>

</footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/homepage.js"></script>

</div>
</body>
</html>