<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room {{ room_id }}</title>
</head>
<body>
    <h1>Group name: {{ group_name }}</h1>

    {% if has_expenses %}
        {% for expense in expenses %}
            <h2>{{ expense.description }}</h2>
            <p>Amount: ₱{{ expense.amount }}</p>
            <p>{{ expense.paid_by }} paid ₱{{ expense.amount }}</p>
            <ul>
                {% for member in members %}
                    {% if member.username != expense.paid_by %}
                        <li>{{ member.username }} owes ₱{{ expense.amount / members|length }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Please wait for the receipt and refresh or come back later.</p>
    {% endif %}

    <a href="{{ url_for('home') }}">Dashboard</a>
    <a href="{{ url_for('groups_expenses') }}">View Groups and Expenses</a>
    <a href="{{ url_for('code') }}">Join a Group</a>
    <a href="{{ url_for('groups') }}">Create Group</a>
    <a href="{{ url_for('profile') }}">Profile</a>

</body>
</html>