<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <h1>Expense Statistics</h1>
    <h2>Welcome, {{ username }}!</h2>

    <div>
        <h3>Total Expenses</h3>
        <p>Weekly: ₱{{ total_weekly_expenses if total_weekly_expenses else 0 }}</p>
        <p>Monthly: ₱{{ total_monthly_expenses if total_monthly_expenses else 0 }}</p>
        <p>Yearly: ₱{{ total_yearly_expenses if total_yearly_expenses else 0 }}</p>
    </div>

    <div>
        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('groups_expenses') }}">View Active Groups</a>
        <a href="{{ url_for('history') }}">View Ended Groups</a>
        <a href="{{ url_for('code') }}">Join a Group</a>
        <a href="{{ url_for('groups') }}">Create Group</a>
        <a href="{{ url_for('profile') }}">Profile</a>
    </div>
</body>
</html>