<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics - {{ group_name }}</title>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/stats.css">

<body>
    <h1>Expense Statistics for {{ group_name }}</h1>

    <div class="chart-container">
        <h3>Total Monthly Expenses</h3>
        <canvas id="monthlyExpensesChart" width="400" height="200"></canvas>
    </div>


    <script>
        // Get the data from the template variables
        var months = {{ months | tojson }};
        var expenses = {{ expenses | tojson }};

        var ctx = document.getElementById('monthlyExpensesChart').getContext('2d');
        var monthlyExpensesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'Total Expenses',
                    data: expenses,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>